<div>
    <h3>
        {{ title }}
    </h3>
</div>
<div>
    <a href="/faq">Create FAQ</a>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead class="table-header">
            <tr>
                <th>FAQ</th>
                <th>Answer</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in faqlist">
                <td>{{x.faq}}</td>
                <td>{{x.answer}}</td>
                <td><input type="button" value="Edit" ng-click="onEditFaq(x.Id)" class="btn btn-sm btn-primary"></td>
                <td><input type="button" value="Delete" ng-click="onDeleteFaq(x.Id)" class="btn btn-sm btn-primary"></td>
            </tr>
        </tbody>
    </table>
</div>