<div>
    <h3>
        {{ message }}
    </h3>
</div>
<div>
    <a href="/createsurvey">Create Survey</a>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead class="table-header">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Startd Date</th>
                <th>End Date</th>
                <th>Is Public</th>
                <th>Add Questions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in surveylist">
                <td>{{ x.Name }}</td>
                <td>{{ x.Description }}</td>
                <td>{{ x.StartDate | date : 'dd LLLL yyyy' }}</td>
                <td>{{ x.EndDate | date : 'dd LLLL yyyy' }}</td>
                <td>{{ x.IsPublic ? 'Yes' : 'No' }}</td>
                <td><input type="button" value="Add Questions" ng-click="onAddQuestions(x.Id)" class="btn btn-sm btn-primary"></td>
            </tr>
        </tbody>
    </table>
</div>